body {
background-color: transparent;
}


.bg-container {
   padding-left: 0px !important;
   padding-right: 0px !important;
   
}

.bg-cols {
   height: 100%;
   position: fixed;
   width: 100%;
   z-index: -1;
   overflow: hidden;
   margin-left: 0px;
   margin-right: 0px;
   top:0px;
} 

.wrap .fa {
    font-size: 32px;
    top: 5px;
    position: relative;
}



.white {
   background-color: #ffffff;
   height: 100%;
}

.grey {
   background-color: #efefef;
   height: 100%;
}

.fl-col-small {
   background-color: #efefef;
   max-width: none;
}

h1,
h2,
h3,
.fl-accordion-content,
.fl-accordion-content span{

font-family: 'Open Sans', sans-serif;

    font-weight: 300;
    color: #444444;

}

.fl-module-heading .fl-heading {
 
    margin: 0 0 10px 0 !important;  

}

.fl-row-content-wrap {
    padding: 0px;
}

.fl-col {
   padding-top: 100px;
}

.fl-accordion-button-label {
  font-size: 22px;
   font-family: 'Open Sans', sans-serif;
   font-weight: 500px;
}

.main {
    h3 {
    font-size: 28px;
    color: #444444;
      margin-bottom: 40px !important;
  }
   p,
   ul,
   li,
      .fl-accordion-content,
      .fl-accordion-content span {
      font-size: 18px;
      line-height: 30px;
      color: #444444;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300 !important;

   }

   p,
   ul {
      margin-bottom: 30px !important;
   }

}

.ghost-button a.fl-button {
   color: #8e53c0 !important;
   background-color: rgba(255, 255, 255, .4);
   border: 3px solid #8e53c0 !important;
   font-size: 26px !important;
   font-weight: 700;
   margin: 6px 0;
   display: inline-block;
   text-decoration: none;
   font-family: 'Open Sans', sans-serif;
   min-width: 120px;
   bottom: 100px;
   z-index: 10;
   padding: 25px 30px !important;
      .fl-button-text,
      i{
         color: #8e53c0 !important;
      } 
      &:hover, 
      &:active {
         color:#fff;
         background:#8e53c0;
         .fl-button-text,
         i{
         color: #fff !important;
         }
      } 
}

.fl-accordion-button-label {
    font-size: 20px;
    right: auto;
    display: inline-block;
    padding-left: 15px !important;
   float: right;
   width: auto;
}

.fl-accordion-button-icon {
   position:relative;
    display: inline-block !important;
    line-height: inherit;
    opacity: .5;
    filter: alpha(opacity = 50);
    padding-left: 0;
    vertical-align: middle;
    float: left;
    top: 4px;
}

.fl-module-content {
   margin-top: 0;
   margin-bottom:10px;
}