header{
  position:relative;
  background-color: #e6f2fc;
 z-index: 5;

}


  .navbar-default {
    background-color: transparent;
    border: none;
		z-index:10;
}

a.navbar-brand { 
  text-indent: -9999px;
  /*img {
    max-width: 200px;
  }*/
}

#kids {
	position:relative;
	z-index:5;
}
#theRibbon {
    position: relative;
    background: url('../images/ribbon-full-no-text.png');
    background-size: 100% 140px;
    width: 100%;
	margin-top: -65px;
    background-repeat: no-repeat;
    z-index: 10;
	margin-bottom: -120px;
	text-align: center;
	color: white;
	font-family: 'Open Sans', sans-serif;
	
	height: 200px;
	img {
		max-height: 150px;
		width: 100%
	}
	
	.fl-heading-text {
		display:none;
		 font-size: 30px;
		top: 110px !important;
		font-family: 'PT Sans', sans-serif;
		font-weight: 300 !important;
	}
	@media (min-width: $screen-sm) {
		.fl-heading-text {
			font-size: 50px;
			top: 125px !important;
		}
	}
	@media (min-width: $screen-md) {
		.fl-heading-text {
			font-size: 60px;
			top: 125px !important;
		}
	}
}


#ribbonContainer .container {
	padding-left: 0;
	padding-right: 0;
	
}

/*----------------- BEGIN RIBBON -------------------------*/

#ribbon {
  padding-left: 0px;
  padding-right: 0px;
  margin-top: -155px;
}

.ribbon {
    position: relative;
    width: 100%;
}



h2.ribbon {
	margin-top:0;
	margin-bottom: 0;
	z-index: 10;
}

.headerRight {
  margin: 50px auto;
	
  	.button {
		background-color: #ffde00;
		box-shadow: 1px 1px 2px  rgba(0, 0, 0, 0.4);
		border: none;
		float: right;
		margin-bottom: 20px;
		padding: 10px 20px;
		font-size: 22px;
		color: #444444;
		display:block;
		width: 100%;
		text-align: center;
		@media (min-width: $grid-float-breakpoint) {
			display:inline-block;
			width: auto;

		}
	 
		@media (min-width: $screen-md) {
			margin-left: 20px;  
		} 

		a {
		  color: #444;
		} 
	}
  
  	.nav>li>a {
    padding: 10px 0px;
    font-size: 22px;
		color: #555;
	  font-family: 'Open Sans', sans-serif;
	  font-weight: 300;
	}
	.navbar-default .navbar-nav .open
	  .dropdown-menu>li>a {
    padding: 10px 0px;
    font-size: 20px;
		color: #85868a;
		  font-family: 'Open Sans', sans-serif;
	}
	

	.navbar-default .navbar-nav .open .dropdown-menu>.active>a	{
		background-color: transparent !important;
	}

	
	.dropdown li {
		margin-left: 0px;
	}
	
	.dropdown-menu>li>a {
		padding: 0;
		font-size: 20px;
		color: #818285;
		font-family: 'Open Sans', sans-serif;
	  	font-weight: 300;
	}
  
  	li.active a::after,
	li.current-menu-parent a::after{
     border-bottom: #ffde00 5px solid;
    box-shadow: 1px 1px 2px  rgba(0, 0, 0, 0.4);
    content:"";
    display:block;
    margin-top: 10px;
  	}
	
	.dropdown-menu>li>a::after {
		border-bottom:none;
		box-shadow:none;
	}
  
	.navbar-default .navbar-nav>.active>a {
	 background-color: transparent;
	}
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color: #444444;
    text-decoration: none;
    outline: 0;
    background-color: transparent;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: transparent;
    color: #444444;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
	color: #818285;
}



.navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu>li>a {
    padding: 10px 0;
}

.dropdown-menu {

   background-color: transparent;
    border: 0;
    box-shadow: none;
}

.dropdown-menu>li>a:hover {
	background-color: transparent !important;
	color: #444444;
}

.navbar-collapse {
	border-top: none;
}

.navbar-toggle {
    position: absolute;
    float: right;
    right: 0px;
    margin-right: 15px;
    padding: 15px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 0;
    border-radius: 4px;
}

.navbar-toggle:hover {
    background-color: transparent !important;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 40px;
    height: 6px;
    border-radius: 1px;
    margin-bottom: 7px;
}


.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 10px dashed;
    border-top: 4px solid\9;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
}
#kids {
		display: block;
		position: relative;
		width: 600px;
		margin-right: auto;
		margin-left: auto;
		top: -150px;
		
	}
@media(min-width: $screen-md) {
	header{
		height: 400px;
	}
	
	.navbar-nav {
		float: right;
	}
	.navbar-nav li {
		margin-left: 30px;
	}

	.headerRight {
		margin-top: 50px;
	}
	#kids {
		display: block;
		position: relative;
		width: 600px;
		margin-right: auto;
		margin-left: auto;
		top: -150px;
		
	}

}

.navbar-brand {
	padding: 0;
	padding-top: 15px;
}
